datajoint>=0.12.9
ipyvolume>=0.6.3
matplotlib>=3.7.2
meshparty>=1.16.13
networkx>=3.1
pandas>=2.0.3
pykdtree>=1.3.7.post0
pymeshfix>=0.16.2
scikit_learn>=1.3.0
scipy
seaborn>=0.12.2
#torch>=2.0.1
#torch_geometric>=2.3.1
#pytorch_tools>=0.1.9
trimesh>=3.22.3
ipython
ipython_genutils
python_tools @ git+https://git@github.com/bacelii/python_tools.git
machine_learning_tools @ git+https://git@github.com/bacelii/machine_learning_tools.git
graph_tools @ git+https://git@github.com/bacelii/graph_tools.git
mesh_tools @ git+https://git@github.com/bacelii/mesh_tools.git